.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.exercise-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.exercise-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  text-align: left;
}

.exercise-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}